* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

li {
    list-style: none;
}

nav {
    background-color: #c2c2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.5rem;
}

nav .logo>a>img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.nav-list .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.nav-items>li>a {
    position: relative;
    font-size: 1.2em;
}

.nav-items>li>a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    /* Adjust based on desired position */
    left: 0;
    width: 0%;
    height: .1em;
    /* Adjust based on desired thickness */
    background-color: currentColor;
    transition: width 0.3s linear;
}

.nav-items>li>a:hover::after {
    width: 100%;
}


.hamburger {
    display: none;
    position: relative;
    width: 20px;
}

.hamburger .line {
    position: absolute;
    height: 3px;
    width: 50%;
    background-color: #222;
    transition: all .3s ease-in-out;
}

.line:nth-child(2) {
    /* position: absolute; */
    top: .5rem;
    width: 90%;
}

.line:nth-child(3) {
    /* position: absolute; */
    top: -.5rem;
    width: 90%;
}


@media (0px <=width <=480px) {
   .nav-list .nav-items{
        position: fixed;
        top: 5rem;
        left: -100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: .3s;
    }

    .nav-items.active {
        left: 0;
    }
    .hamburger {
        display: block;
    }

    .hamburger.active .line:nth-child(1) {
        width: 0;
        opacity: 0;
        position: fixed;
    }

    .hamburger.active .line.line:nth-child(2) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hamburger.active .line.line:nth-child(3) {
        transform: translateY(8px) rotate(45deg);
    }


}